<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217575096875-7iekl19l5p5hkkcjkju1n1idq1urjuqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217575096875-7iekl19l5p5hkkcjkju1n1idq1urjuqb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9-j29wOyQpxFj_zF4Owh5Ia9RKZhJN5M</string>
	<key>GCM_SENDER_ID</key>
	<string>217575096875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ariz.pushApp</string>
	<key>PROJECT_ID</key>
	<string>firechat-d3ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-d3ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217575096875:ios:204f64cb3881e9f623206e</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-d3ffd.firebaseio.com</string>
</dict>
</plist>